<h1>Add absence</h1>
<p-accordion [activeIndex]="0">
  <p-accordionTab header="User">
    <table>
      <tr>
        <td>Id</td>
        <td>
          <input id="id"
                 pInputText
                 type="text"
                 [(ngModel)]="user.Id"
                 [readOnly]="true"
          />
        </td>
      </tr>
      <tr>
        <td>First name</td>
        <td>
          <input id="first_name"
                 pInputText
                 type="text"
                 [(ngModel)]="user.FirstName"
                 [readOnly]="true"
          />
        </td>
      </tr>
      <tr>
        <td>Last name</td>
        <td>
          <input id="last_name"
                 pInputText
                 type="text"
                 [(ngModel)]="user.LastName"
                 [readOnly]="true"
          />
        </td>
      </tr>
      <tr>
        <td>Email</td>
        <td>
          <input id="email"
                 pInputText
                 type="text"
                 [(ngModel)]="user.Email"
                 [readOnly]="true"
          />
        </td>
      </tr>
    </table>
  </p-accordionTab>
</p-accordion>

<table>
  <tr>
    <td>Absence</td>
    <td>

<p-dropdown
  [options]="absenceDefinitionList"
  [(ngModel)]="selectedAbsenceDefinition"
  optionLabel="Name"
  placeholder="Select an Absence" />
    </td>
  </tr>
  <tr>
    <td>Origin</td>
    <td>
      <p-inputNumber
        [(ngModel)]="createAbsence.Origin"
        [min]="0"
        [showButtons]="true"
        mode="decimal"/>
    </td>
  </tr>
  <tr>
    <td>Comment</td>
    <td>
      <input [(ngModel)]="createAbsence.Comment"
             id="comment"
             pInputText
             placeholder="Type comment"
             type="text"
      />
    </td>
  </tr>
  <tr>
    <td>Partial time from</td>
    <td>
      <p-calendar
        [(ngModel)]="createAbsence.PartialTimeFrom"
        (ngModelChange)="onPartialTimeFromChange()"
        [showIcon]="true"
        [showOnFocus]="false"
        [showTime]="true"
        dateFormat="yy.mm.dd"
        hourFormat="24"
      />
    </td>
  </tr>
  <tr>
    <td>Partial time to</td>
    <td>
      <p-calendar
        [(ngModel)]="partialTimeTo"
        (ngModelChange)="onPartialTimeToChange()"
        [showIcon]="true"
        [showOnFocus]="false"
        [showTime]="true"
        dateFormat="yy.mm.dd"
        hourFormat="24"
      />
    </td>
  </tr>
  <tr>
    <td>Partial time duration</td>
    <td>
      <p-inputNumber
        [(ngModel)]="createAbsence.PartialTimeDuration"
        [min]="0"
        [showButtons]="true"
        mode="decimal"/>
    </td>
  </tr>
  <tr>
    <td>Is partial</td>
    <td>
      <p-checkbox
        [(ngModel)]="createAbsence.IsPartial"
        [binary]="true"
      />
    </td>
  </tr>
  <tr>
    <td>Override holiday absence</td>
    <td>
      <p-checkbox
        [(ngModel)]="createAbsence.OverrideHolidayAbsence"
        [binary]="true"
      />
    </td>
  </tr>
</table>

<div class="mt-5">
  <p-button (onClick)="onSave()" label="Save"></p-button>&nbsp;
  <p-button routerLink="/" icon="pi pi-times" label="Cancel"></p-button>
</div>
